.UICalendarPortlet .UIRemoteCalendar #id-username input, .UICalendarPortlet .UIRemoteCalendar #id-password input {
  width: 200px;
}

.UICalendarPortlet .UIRemoteCalendar #id-username .FieldComponent{
  padding-left:17px;
}

.UICalendarPortlet .UIRemoteCalendar #id-password .FieldComponent {
  padding-left: 20px;
}

.UICalendarPortlet .UIRemoteCalendar .InputFieldLabel {
  line-height: 30px;
}

.UICalendarPortlet .UICalendarPopupAction .PopupContent .UIFormGrid {
	margin: auto;
	width: auto;
}